<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="shortcut icon" type="image/x-icon" href="img/logo-icon.png">
    <title>Sneaker Store</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <a class="logo" href="">
                    <img class="logo__img" src="img/logo-big.png" alt="">
                </a>
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Мужские кроссовки</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Женские кроссовки</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Акция</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Избранное</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link menu__list-link-cart" href="#">Корзина</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Поиск</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Профиль</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section class="overview">
        <div class="container">
            <div class="overview__inner">
                <ul class="overview__list">
                    <li class="overview__page">
                        <a class="overview__page-link" href="">Главная</a>
                    </li>
                    <li class="overview__page">
                        <a class="overview__page-link" href="">/</a>
                    </li>
                    <li class="overview__page">
                        <a class="overview__page-link" href="">Мужские кроссовки</a>
                    </li>
                    <li class="overview__page">
                        <a class="overview__page-link" href="">/</a>
                    </li>
                    <li class="overview__page">
                        <a class="overview__page-link" href="">Adidas Originals Ozweego Celox</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <section class="sneaker-cart">
        <div class="container">
            <div class="sneaker-cart__inner">
                <div class="sneaker-cart__img">
                    <img class="sneaker-cart__img-image" src="img/slider1.png" alt="">
                </div>
                <div class="sneaker-cart__content">

                    <h1 class="sneaker-cart__content-title">Adidas Originals Ozweego Celox</h1>
                    <ul class="sneaker-cart__content-list">
                        <li class="sneaker-cart__content-item">Бренд: Adidas</li>
                        <li class="sneaker-cart__content-item">Категория: Спорт</li>
                        <li class="sneaker-cart__content-item">Пол: Мужские</li>
                        <label class="sneakers-group__item-label-favorite detail">
                            <form class="favorite-form" method="get"
                                action="{% url 'store:edit_favorites' sneaker.slug %}">
                                <input class="sneaker-group__item-favorite-checkbox" type="checkbox">
                                <div class="sneaker-group__item-favorite detail"></div>
                            </form>
                        </label>
                    </ul>
                    <form class="sneaker-cart__size-form">
                        <div class="sneaker-cart__size">
                            <p class="sneaker-cart__size-title">Размер</p>

                            <div class="sneaker-cart__size-items">
                                <label class="sneaker-cart__size-form-label">
                                    <input class="sneaker-cart__size-form-checkbox" type="checkbox" value="41">
                                    <span class="sneaker-cart__size-num">37</span>
                                </label>
                                <label class="sneaker-cart__size-form-label">
                                    <input class="sneaker-cart__size-form-checkbox" type="checkbox" value="41">
                                    <span class="sneaker-cart__size-num">38</span>
                                </label>
                                <label class="sneaker-cart__size-form-label">
                                    <input class="sneaker-cart__size-form-checkbox" type="checkbox" value="41">
                                    <span class="sneaker-cart__size-num">39</span>
                                </label>
                                <label class="sneaker-cart__size-form-label">
                                    <input class="sneaker-cart__size-form-checkbox" type="checkbox" value="41">
                                    <span class="sneaker-cart__size-num">40</span>
                                </label>
                                <label class="sneaker-cart__size-form-label">
                                    <input class="sneaker-cart__size-form-checkbox" type="checkbox" value="41">
                                    <span class="sneaker-cart__size-num">41</span>
                                </label>
                                <label class="sneaker-cart__size-form-label">
                                    <input class="sneaker-cart__size-form-checkbox" type="checkbox" value="41">
                                    <span class="sneaker-cart__size-num">42</span>
                                </label>
                                <label class="sneaker-cart__size-form-label">
                                    <input class="sneaker-cart__size-form-checkbox" type="checkbox" value="41">
                                    <span class="sneaker-cart__size-num">43</span>
                                </label>
                                <label class="sneaker-cart__size-form-label">
                                    <input class="sneaker-cart__size-form-checkbox" type="checkbox" value="41">
                                    <span class="sneaker-cart__size-num">44</span>
                                </label>
                                <label class="sneaker-cart__size-form-label">
                                    <input class="sneaker-cart__size-form-checkbox" type="checkbox" value="41">
                                    <span class="sneaker-cart__size-num">45</span>
                                </label>
                                <label class="sneaker-cart__size-form-label">
                                    <input class="sneaker-cart__size-form-checkbox" type="checkbox" value="41">
                                    <span class="sneaker-cart__size-num">46</span>
                                </label>
                                <label class="sneaker-cart__size-form-label">
                                    <input class="sneaker-cart__size-form-checkbox" type="checkbox" value="41">
                                    <span class="sneaker-cart__size-num">47</span>
                                </label>
                                <label class="sneaker-cart__size-form-label">
                                    <input class="sneaker-cart__size-form-checkbox" type="checkbox" value="41">
                                    <span class="sneaker-cart__size-num">48</span>
                                </label>
                                <label class="sneaker-cart__size-form-label">
                                    <input class="sneaker-cart__size-form-checkbox" type="checkbox" value="41">
                                    <span class="sneaker-cart__size-num">49</span>
                                </label>
                                <label class="sneaker-cart__size-form-label">
                                    <input class="sneaker-cart__size-form-checkbox" type="checkbox" value="41">
                                    <span class="sneaker-cart__size-num">50</span>
                                </label>
                            </div>

                        </div>
                        <p class="sneaker-cart__content-price">Цена: 200.00 BYN</p>
                        <div class="sneaker-cart__content-form-btn">
                            <input class="sneaker-cart__content-btn" type="submit" value="Добавить в корзину">
                        </div>
                    </form>

                </div>

            </div>
            <table class="sneaker-cart__table-info">
                <tr>
                    <th colspan="2">Подробно</th>
                </tr>
                <tr>
                    <td class="sneaker-cart__table-col">Бренд</td>
                    <td>Adidas</td>
                </tr>
                <tr>
                    <td>Категория</td>
                    <td>Спорт</td>
                </tr>
                <tr>
                    <td>Пол</td>
                    <td>Мужские</td>
                </tr>
                <tr>
                    <td>Материал</td>
                    <td>Замша, Текстиль, Полимер</td>
                </tr>
                <tr>
                    <td>Цвет</td>
                    <td>Черный</td>
                </tr>
                <tr>
                    <td>Страна производства</td>
                    <td>Китай</td>
                </tr>
                <tr>
                    <td>Артикул</td>
                    <td>G57954</td>
                </tr>
                <tr>
                    <td>Описание</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores animi, consequatur eveniet
                        magni obcaecati quos nisi? Asperiores voluptatibus, laborum excepturi tempora libero ratione
                        distinctio numquam, vel necessitatibus recusandae reiciendis? Eaque odit, natus voluptatum
                        molestiae animi dicta sapiente. Alias, sapiente amet? Nihil delectus optio sint magnam. Dolores
                        officiis, tempore doloribus aperiam, ipsum vitae minima fugit vero dicta quam neque dolorum
                        iusto quae repellat dolorem error tenetur pariatur asperiores officia esse, a consequatur
                        repudiandae? Itaque id, possimus nobis praesentium pariatur saepe! Aliquam sed quasi eos facere
                        est, vitae reiciendis suscipit minima praesentium libero dolorem nostrum. Animi excepturi vero
                        porro, impedit distinctio nisi.</td>
                </tr>
            </table>
        </div>
    </section>

    <section class="sneakers-group">
        <div class="container">
            <div class="sneakers-group__inner">
                <p class="sneakers-group__title">ВЫ НЕДАВНО ПРОСМАТРИВАЛИ</p>

                <div class="sneakers-group__items view">

                    <div class="snekaer-group__col">
                        <div class="sneakers-group__item sneakers-group__item_sale">
                            <span class="discount">-100%</span>
                            <div class="sneakers-group__item-top">
                                <a href="" class="sneakers-group__item-img-link">
                                    <img class="sneakers-group__item-img" src="img/slider1.png" alt="">
                                </a>
                            </div>
                            <div class="sneakers-group__item-content">
                                <p class="sneakers-group__item-title">
                                    <a class="sneakers-group__item-title-link" href="#">
                                        1
                                    </a>
                                </p>
                                <p class="sneakers-group__item-price">
                                    <a class="sneakers-group__item-price-link sneakers-group__item-price-link_sale"
                                        href="#">
                                        <span class="sneakers-group__item-price">180.00 BYN</span>
                                        <span class="sneakers-group__item-discount-price">180.00 BYN</span>
                                    </a>
                                </p>
                                <label class="sneakers-group__item-label-favorite">
                                    <form class="favorite-form" method="get"
                                        action="{% url 'store:edit_favorites' sneaker.slug %}">
                                        <input class="sneaker-group__item-favorite-checkbox" type="checkbox">
                                        <div class="sneaker-group__item-favorite"></div>
                                    </form>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="snekaer-group__col">
                        <div class="sneakers-group__item sneakers-group__item_sale">
                            <span class="discount">-100%</span>
                            <div class="sneakers-group__item-top">
                                <a href="" class="sneakers-group__item-img-link">
                                    <img class="sneakers-group__item-img" src="img/slider2.png" alt="">
                                </a>
                            </div>
                            <div class="sneakers-group__item-content">
                                <p class="sneakers-group__item-title">
                                    <a class="sneakers-group__item-title-link" href="#">
                                        2
                                    </a>
                                </p>
                                <p class="sneakers-group__item-price">
                                    <a class="sneakers-group__item-price-link sneakers-group__item-price-link_sale"
                                        href="#">
                                        <span class="sneakers-group__item-price">180.00 BYN</span>
                                        <span class="sneakers-group__item-discount-price">180.00 BYN</span>
                                    </a>
                                </p>
                                <label class="sneakers-group__item-label-favorite">
                                    <form class="favorite-form" method="get"
                                        action="{% url 'store:edit_favorites' sneaker.slug %}">
                                        <input class="sneaker-group__item-favorite-checkbox" type="checkbox">
                                        <div class="sneaker-group__item-favorite"></div>
                                    </form>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="snekaer-group__col">
                        <div class="sneakers-group__item sneakers-group__item_sale">
                            <span class="discount">-100%</span>
                            <div class="sneakers-group__item-top">
                                <a href="" class="sneakers-group__item-img-link">
                                    <img class="sneakers-group__item-img" src="img/slider2.jpg" alt="">
                                </a>
                            </div>
                            <div class="sneakers-group__item-content">
                                <p class="sneakers-group__item-title">
                                    <a class="sneakers-group__item-title-link" href="#">
                                        3
                                    </a>
                                </p>
                                <p class="sneakers-group__item-price">
                                    <a class="sneakers-group__item-price-link sneakers-group__item-price-link_sale"
                                        href="#">
                                        <span class="sneakers-group__item-price">180.00 BYN</span>
                                        <span class="sneakers-group__item-discount-price">180.00 BYN</span>
                                    </a>
                                </p>
                                <label class="sneakers-group__item-label-favorite">
                                    <form class="favorite-form" method="get"
                                        action="{% url 'store:edit_favorites' sneaker.slug %}">
                                        <input class="sneaker-group__item-favorite-checkbox" type="checkbox">
                                        <div class="sneaker-group__item-favorite"></div>
                                    </form>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="snekaer-group__col">
                        <div class="sneakers-group__item sneakers-group__item_sale">
                            <span class="discount">-100%</span>
                            <div class="sneakers-group__item-top">
                                <a href="" class="sneakers-group__item-img-link">
                                    <img class="sneakers-group__item-img" src="img/slider3.jpg" alt="">
                                </a>
                            </div>
                            <div class="sneakers-group__item-content">
                                <p class="sneakers-group__item-title">
                                    <a class="sneakers-group__item-title-link" href="#">
                                        4
                                    </a>
                                </p>
                                <p class="sneakers-group__item-price">
                                    <a class="sneakers-group__item-price-link sneakers-group__item-price-link_sale"
                                        href="#">
                                        <span class="sneakers-group__item-price">180.00 BYN</span>
                                        <span class="sneakers-group__item-discount-price">180.00 BYN</span>
                                    </a>
                                </p>
                                <label class="sneakers-group__item-label-favorite">
                                    <form class="favorite-form" method="get"
                                        action="{% url 'store:edit_favorites' sneaker.slug %}">
                                        <input class="sneaker-group__item-favorite-checkbox" type="checkbox">
                                        <div class="sneaker-group__item-favorite"></div>
                                    </form>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="snekaer-group__col">
                        <div class="sneakers-group__item sneakers-group__item_sale">
                            <span class="discount">-100%</span>
                            <div class="sneakers-group__item-top">
                                <a href="" class="sneakers-group__item-img-link">
                                    <img class="sneakers-group__item-img" src="img/slider1.png" alt="">
                                </a>
                            </div>
                            <div class="sneakers-group__item-content">
                                <p class="sneakers-group__item-title">
                                    <a class="sneakers-group__item-title-link" href="#">
                                        5
                                    </a>
                                </p>
                                <p class="sneakers-group__item-price">
                                    <a class="sneakers-group__item-price-link sneakers-group__item-price-link_sale"
                                        href="#">
                                        <span class="sneakers-group__item-price">180.00 BYN</span>
                                        <span class="sneakers-group__item-discount-price">180.00 BYN</span>
                                    </a>
                                </p>
                                <label class="sneakers-group__item-label-favorite">
                                    <form class="favorite-form" method="get"
                                        action="{% url 'store:edit_favorites' sneaker.slug %}">
                                        <input class="sneaker-group__item-favorite-checkbox" type="checkbox">
                                        <div class="sneaker-group__item-favorite"></div>
                                    </form>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="snekaer-group__col">
                        <div class="sneakers-group__item sneakers-group__item_sale">
                            <span class="discount">-100%</span>
                            <div class="sneakers-group__item-top">
                                <a href="" class="sneakers-group__item-img-link">
                                    <img class="sneakers-group__item-img" src="img/slider1.png" alt="">
                                </a>
                            </div>
                            <div class="sneakers-group__item-content">
                                <p class="sneakers-group__item-title">
                                    <a class="sneakers-group__item-title-link" href="#">
                                        6
                                    </a>
                                </p>
                                <p class="sneakers-group__item-price">
                                    <a class="sneakers-group__item-price-link sneakers-group__item-price-link_sale"
                                        href="#">
                                        <span class="sneakers-group__item-price">180.00 BYN</span>
                                        <span class="sneakers-group__item-discount-price">180.00 BYN</span>
                                    </a>
                                </p>
                                <label class="sneakers-group__item-label-favorite">
                                    <form class="favorite-form" method="get"
                                        action="{% url 'store:edit_favorites' sneaker.slug %}">
                                        <input class="sneaker-group__item-favorite-checkbox" type="checkbox">
                                        <div class="sneaker-group__item-favorite"></div>
                                    </form>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="snekaer-group__col">
                        <div class="sneakers-group__item sneakers-group__item_sale">
                            <span class="discount">-100%</span>
                            <div class="sneakers-group__item-top">
                                <a href="" class="sneakers-group__item-img-link">
                                    <img class="sneakers-group__item-img" src="img/slider2.png" alt="">
                                </a>
                            </div>
                            <div class="sneakers-group__item-content">
                                <p class="sneakers-group__item-title">
                                    <a class="sneakers-group__item-title-link" href="#">
                                        7
                                    </a>
                                </p>
                                <p class="sneakers-group__item-price">
                                    <a class="sneakers-group__item-price-link sneakers-group__item-price-link_sale"
                                        href="#">
                                        <span class="sneakers-group__item-price">180.00 BYN</span>
                                        <span class="sneakers-group__item-discount-price">180.00 BYN</span>
                                    </a>
                                </p>
                                <label class="sneakers-group__item-label-favorite">
                                    <form class="favorite-form" method="get"
                                        action="{% url 'store:edit_favorites' sneaker.slug %}">
                                        <input class="sneaker-group__item-favorite-checkbox" type="checkbox">
                                        <div class="sneaker-group__item-favorite"></div>
                                    </form>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="snekaer-group__col">
                        <div class="sneakers-group__item sneakers-group__item_sale">
                            <span class="discount">-100%</span>
                            <div class="sneakers-group__item-top">
                                <a href="" class="sneakers-group__item-img-link">
                                    <img class="sneakers-group__item-img" src="img/slider2.png" alt="">
                                </a>
                            </div>
                            <div class="sneakers-group__item-content">
                                <p class="sneakers-group__item-title">
                                    <a class="sneakers-group__item-title-link" href="#">
                                        8
                                    </a>
                                </p>
                                <p class="sneakers-group__item-price">
                                    <a class="sneakers-group__item-price-link sneakers-group__item-price-link_sale"
                                        href="#">
                                        <span class="sneakers-group__item-price">180.00 BYN</span>
                                        <span class="sneakers-group__item-discount-price">180.00 BYN</span>
                                    </a>
                                </p>
                                <label class="sneakers-group__item-label-favorite">
                                    <form class="favorite-form" method="get"
                                        action="{% url 'store:edit_favorites' sneaker.slug %}">
                                        <input class="sneaker-group__item-favorite-checkbox" type="checkbox">
                                        <div class="sneaker-group__item-favorite"></div>
                                    </form>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="snekaer-group__col">
                        <div class="sneakers-group__item sneakers-group__item_sale">
                            <span class="discount">-100%</span>
                            <div class="sneakers-group__item-top">
                                <a href="" class="sneakers-group__item-img-link">
                                    <img class="sneakers-group__item-img" src="img/slider2.png" alt="">
                                </a>
                            </div>
                            <div class="sneakers-group__item-content">
                                <p class="sneakers-group__item-title">
                                    <a class="sneakers-group__item-title-link" href="#">
                                        9
                                    </a>
                                </p>
                                <p class="sneakers-group__item-price">
                                    <a class="sneakers-group__item-price-link sneakers-group__item-price-link_sale"
                                        href="#">
                                        <span class="sneakers-group__item-price">180.00 BYN</span>
                                        <span class="sneakers-group__item-discount-price">180.00 BYN</span>
                                    </a>
                                </p>
                                <label class="sneakers-group__item-label-favorite">
                                    <form class="favorite-form" method="get"
                                        action="{% url 'store:edit_favorites' sneaker.slug %}">
                                        <input class="sneaker-group__item-favorite-checkbox" type="checkbox">
                                        <div class="sneaker-group__item-favorite"></div>
                                    </form>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="snekaer-group__col">
                        <div class="sneakers-group__item sneakers-group__item_sale">
                            <span class="discount">-100%</span>
                            <div class="sneakers-group__item-top">
                                <a href="" class="sneakers-group__item-img-link">
                                    <img class="sneakers-group__item-img" src="img/slider2.png" alt="">
                                </a>
                            </div>
                            <div class="sneakers-group__item-content">
                                <p class="sneakers-group__item-title">
                                    <a class="sneakers-group__item-title-link" href="#">
                                        10
                                    </a>
                                </p>
                                <p class="sneakers-group__item-price">
                                    <a class="sneakers-group__item-price-link sneakers-group__item-price-link_sale"
                                        href="#">
                                        <span class="sneakers-group__item-price">180.00 BYN</span>
                                        <span class="sneakers-group__item-discount-price">180.00 BYN</span>
                                    </a>
                                </p>
                                <label class="sneakers-group__item-label-favorite">
                                    <form class="favorite-form" method="get"
                                        action="{% url 'store:edit_favorites' sneaker.slug %}">
                                        <input class="sneaker-group__item-favorite-checkbox" type="checkbox">
                                        <div class="sneaker-group__item-favorite"></div>
                                    </form>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="snekaer-group__col">
                        <div class="sneakers-group__item sneakers-group__item_sale">
                            <span class="discount">-100%</span>
                            <div class="sneakers-group__item-top">
                                <a href="" class="sneakers-group__item-img-link">
                                    <img class="sneakers-group__item-img" src="img/slider2.png" alt="">
                                </a>
                            </div>
                            <div class="sneakers-group__item-content">
                                <p class="sneakers-group__item-title">
                                    <a class="sneakers-group__item-title-link" href="#">
                                        11
                                    </a>
                                </p>
                                <p class="sneakers-group__item-price">
                                    <a class="sneakers-group__item-price-link sneakers-group__item-price-link_sale"
                                        href="#">
                                        <span class="sneakers-group__item-price">180.00 BYN</span>
                                        <span class="sneakers-group__item-discount-price">180.00 BYN</span>
                                    </a>
                                </p>
                                <label class="sneakers-group__item-label-favorite">
                                    <form class="favorite-form" method="get"
                                        action="{% url 'store:edit_favorites' sneaker.slug %}">
                                        <input class="sneaker-group__item-favorite-checkbox" type="checkbox">
                                        <div class="sneaker-group__item-favorite"></div>
                                    </form>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sneakers-group__btns">
                    <button id="prev-view" class="sneakers-group__btn">&#10094; Назад</button>
                    <button id="next-view" class="sneakers-group__btn">Вперед &#10095;</button>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="footer__inner">

                <div class="footer__item-logo">
                    <img class="footer__logo" src="img/logo-big.png" alt="">
                    <p class="footer__logo-title">SNEAKER STORE</p>
                    <p class="footer__logo-description">
                        Магазин кроссовок и спортивной обуви в Минске. В наличии имеются мужские и женские кроссовки
                        от
                        производителей.
                    </p>
                </div>
                <div class="footer__item-catalog">
                    <p class="footer__item-title" onclick="spoiler(123)">
                        КАТАЛОГ
                    </p>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#">Мужские кроссовки</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#">Женские кроссовки</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#">Скидки</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item-about">
                    <p class="footer__item-title">
                        О НАС
                    </p>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#">Контакты</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#">Как добраться?</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#">Информация</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item-help">
                    <p class="footer__item-title">
                        ПОМОЩЬ
                    </p>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#">Обратная связь</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#">Карта сайта</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#">API</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        </div>
    </footer>
    <script src="js/slider.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>